
:root {
    --bs-body-color: #F7F7F7; /* Text color */
    --text-color-dim: #555555; /* Dimmer text color */
    --background-color: #1E1F1F;
    --bs-primary: #173030;
    --bs-secondary: #0F1010;
    --accent: rgba(0, 102, 102, 0.51);
    --bs-link-color-rgb: var(--bs-body-color);


    --hr-color: #494949; /* Dimmer text color */
    /*--bs-border-color: #dee2e6;*/
    /*--bs-link-color: #0d6efd;*/
    /*--bs-link-hover-color: #0a58ca;*/
    /*--bs-highlight-bg: #fff3cd;*/

    /*--bs-body-bg: #fff;*/


    --bs-body-font-family: 'Lato', serif;
    /*--bs-body-font-size: 1rem;*/
    /*--bs-body-font-weight: 400;*/
    /*--bs-body-line-height: 1.5;*/
}

body {
    background-color: var(--background-color);
}

.highlight-background {
    background-color: var(--bs-primary);
    border-radius: 15%;
    padding: 5px;
    font-weight: normal;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: var(--accent);
    border-color: var(--accent);
}

a:hover {
    color: var(--accent);

}

/* Navbar */

.navbar {
    border-bottom: 1px solid var(--hr-color);
    background-color: var(--bs-secondary);
}

.nav-item a[aria-current="page"] {
    /*color: var(--bs-primary);*/
    /*font-weight: bold; */
    font-weight: normal;
    background-color: var(--bs-primary);
    border-radius: 15%;
}

.navbar-brand {
    margin-right: 25px;
    margin-left: 45px;
    font-weight: 300;
}


.nav-item {
    margin-right: 20px;
}

.nav-link {
    font-weight: 300;
}

/* Navbar */


/* Footer */

footer {
    border-top: 1px solid var(--hr-color);
    background-color: var(--bs-secondary);
}

.form-control {
    background-color: var(--bs-secondary);
    /*border-color: var(--bs-body-color)*/
}

.contact-icon-links {
    text-decoration: none;
    fill: var(--text-color-dim);

}

.resume-icons {
    height: 50px;
    width: 50px;
    margin: 5px;
}

#mongodb-icon-resume {
    width: 130px;
    height: 45px;
    border-radius: 20%;
}

#htmx-icon-resume {
    width: 130px;
    height: 90px;
    border-radius: 20%;
}

.stack-icons {
    width: 40px;
    height: 40px;
    margin: 10px 5px 10px 5px;
}

.htmx-icon {
    width: 120px;
    height: 80px;
    border-radius: 20%;
}

.mongodb-icon {
    width: 150px;
    height: 50px;
    border-radius: 20%;
}



.resume-card {
    margin: 15px;
    width: 15rem;
}

/* Footer */

hr {
    /*color: var(--text-color-dim);*/
    border: none;
    height: 1px;
    opacity: 100%;
    color: var(--hr-color);
    background: var(--hr-color);
}


div.timeline-info ul li {
    /*font-weight: 300;*/
}

#mobile-disclaimer {
    display: none;
}





.card {
    background-color: var(--bs-secondary);
    padding: .5em .5em;
    border-radius: 1em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .6);
}


.card-title {
    font-weight: 300;
}

/* Mobile screen size */
@media (max-width: 550px) {
    .card-wrapper {
        width: 100%; /* Make it full width on smaller screens */
        max-width: 100%; /* Ensure it doesn't exceed the screen width */
    }

    .timeline-area {
        display: none;
    }

    #mobile-disclaimer {
        display: block;
    }


    .project-item {
        flex-direction: column;
    }
}


.my_photo {
    max-width: 100%;
    text-align: center;
    background-color: var(--bs-secondary);
    border-radius: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

}

.my_photo img {
    /*height: 300px;*/
    /*width: 300px;*/
    max-height: 100%;
    max-width: 100%;
    border-radius: 10%;

}

li {
    font-weight: normal;
}


/* Resume timeline */

.timeline-area {
    /*background: var(bg-dark);*/
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */

.timeline-outer {
    border-left: 2px solid var(--text-color-dim);
}

.timeline-title {
    position: relative;
}

/* Timeline dot  */

.timeline-title::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: var(--bs-secondary);
    border-radius: 100%;
    left: -22px;
    border: 3px solid var(--text-color-dim);
}

/* Resume timeline */

.index-greeting {
    min-height: calc(80vh - (56px + 90px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#indexHorizontalRule {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.resume-horizontal-rule {
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.project-item {
    width: 100%;
    margin-bottom: 60px;
}

.project-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-item-description-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.project-item-description-title {
    margin-bottom: 15px;
    margin-top: 20px;
}

.projects-horizontal-rule {
    width: 100%;
    margin-bottom: 60px;
}


.carousel, .carousel-inner, .carousel-item, .carousel-item img {
    border-radius: 5%;
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;*/
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.carousel {
}

.carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 5%;

}

.carousel-control-prev, .carousel-control-next {
    color: white;
}






