:root {
    --bs-body-font-family: 'Lato', serif;
    --bs-body-color: #ffffff;
    --hr-color-default: #ffffff;
}

div.timeline-info ul li {
    /*font-weight: 300;*/
}

#mobile-disclaimer {
    display: none;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    /*max-height: 200px;*/
}


.stack-icons {
    width: 40px;
    height: 40px;
    margin: 10px 5px 10px 5px;
}

.htmx-icon {
    width: 120px;
    height: 80px;
/*    636 × 424 */
}

.mongodb-icon {
    width: 150px;
    height: 50px;
}

.card-title {
    font-weight: 300;
}

/* Mobile screen size */
@media (max-width: 550px) {
    .card-wrapper {
        width: 100%; /* Make it full width on smaller screens */
        max-width: 100%; /* Ensure it doesn't exceed the screen width */
    }

    .timeline-area {
        display: none;
    }

    #mobile-disclaimer {
        display: block;
    }



    @media (max-width: 767px) {
        .project-item {
            flex-direction: column;
        }
    }
}


.my_photo {
    /*width: 100%;*/
    max-width: 100%;
    text-align: center;
    background-color: #1a1d20;
    border-radius: 10%;
    /*height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.my_photo img {
    /*height: 300px;*/
    /*width: 300px;*/
    max-height: 100%;
    max-width: 100%;
    border-radius: 10%;

}

li {
    font-weight: normal;
}

/*.timeline-area {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/


/* Timeline Container */
.timeline-area {
    /*background: var(bg-dark);*/
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */

.timeline-outer {
    border-left: 2px solid #97999a;
}

.timeline-title {
    position: relative;
}

/* Timeline dot  */

.timeline-title::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 100%;
    left: -21px;
    border: 3px solid #ffffff;
}

.index-greeting {
    min-height: calc(80vh - (56px + 90px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#indexHorizontalRule {
    color: #ffffff;
    width: 65%;
    margin-left: auto;
    margin-right: auto;


}

.resume-horizontal-rule {
    color: var(--hr-color-default);
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.project-item {
    width: 100%;
    margin-bottom: 60px;
}

.project-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-item-description-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.project-item-description-title {
    margin-bottom: 15px;
    margin-top: 20px;
}

.projects-horizontal-rule {
    color: #ffffff;
    width: 100%;
    margin-bottom: 60px;
}

.carousel-control-prev, .carousel-control-next {
    color: white;
}


div.carousel-item img {
    border-radius: 5%;
    /*height: 800px;*/
    /*width: 600px;*/
    /*max-width: 300px; !* Set the maximum width to 100% of its container *!*/
    /*max-height: 100%; !* Set the maximum height to 100% of its container *!*/
}

.jumbo1 {
    background-color: #212529;
}


.navbar-brand {
    margin-right: 25px;
    margin-left: 45px;
}


.nav-item {
    margin-right: 20px;
}

.nav-link {
    font-weight: 300;
}

.navbar-brand {
    font-weight: 300;
}

.contact-icon-links {
    text-decoration: none;
    color: inherit;

}
